* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background-image: url("../images/header_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  z-index: -100;
}
