* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background: url("../images/header_background.jpg") no-repeat fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  z-index: -100;
}


#navbar {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px black;
  position: fixed;
  width: 100%;
}

.navbar-left, .navbar-right {
  display: inline;
  padding: 5px 5px;
}

.navbar-left {
}

.navbar-right {
  float: right;
}
