* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px black;
  position: fixed;
  width: 100%;
}

.navbar-left, .navbar-right {
  display: inline;
  padding: 5px 5px;
}

.navbar-left {
}

.navbar-right {
  float: right;
}

.header {
  position: relative;
  background: url("../images/header_background.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
  z-index: -100;
}

#projects-btn {
  border: none;
  padding: 15px 32px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid #fff;
  border-radius: 5px;
  transition-duration: 0.4s;
  color: #fff;
  text-shadow: 1px 1px #000000;
  box-shadow: 1px 1px 1px #000000;
}

#projects-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#title {
  padding-top: 45vh;
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px #000000;
}

.bg-4 {
  text-align: center;
  padding: 20px;
  background-color: #2f2f2f;
  color: #ffffff;
}

.icons {
  display: inline;
}

.icon {
  color: #fff;
  font-size: 36px;
  display: inline;
  padding: 10px;
}

.icon:visited {
  color: #fff;
}
